/* Adjustments for smaller screens */
@media screen and (max-width: 1000px) {
  input[type="number"],
  input[type="text"],
  select {
    width: 100%; /* Make form elements span the width */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    margin-bottom: 10px; /* Add margin for better spacing */
  }

  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Adjust column width */
    gap: 10px; /* Adjust gap between grid items */
    padding: 15px;
  }

  .note {
    padding: 8px; /* Adjust note padding */
  }
}

.grid-container {
  display: grid;
  gap: 5px; /* Adjust gap between grid items */
  padding: 10px;
}

.diapason {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Adjust min and max width for notes */
  gap: 5px; /* Adjust gap between grid items */
  padding: 5px;
  border: 1px solid #ccc; /* Add border to diapason */
  background: #000;
}

.note {
  background: #fff;
  border: 1px solid #ccc; /* Add borders to notes */
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.note-name {
  font-weight: bold;
}

.note-frequency {
  margin-top: 5px;
}
