html {
  background-color: #000;
}

body {
  font-family: monospace;
  font-size: 12px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  background-color: #c5c5c5;
  padding: .5rem 0;
}

header, footer {
  background-color: #c5c5c5;
  padding: .5rem 0;
}

header form,
footer form {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  gap: 1rem;
  padding-right: 1rem;
}

legend {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

#sidebar a {
  font-size: 1.5rem;
  text-decoration: none;
  padding: .5rem .5rem .5rem 0;
  border-radius: .5rem;
  color: #000;
}

#menu-icon {
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
  justify-self: end;
}

fieldset {padding: 1rem; margin: 0;}

#keys {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

#alphaKeyTable,
#numericKeyTable,
button#play {
  user-select: none;
  -webkit-user-select: none;
}

#alphaKeyTable {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: .5rem;
  padding: .5rem;
}

#numericKeyTable {
  grid-column: 2 / 2;
}

.root-group {
  display: grid;
  gap: .5rem;
  padding: .5rem;
  grid-template-columns: 1fr 1fr 1fr;
}

#current-diapason-data,
.note,
.root-selector {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: .5rem;
  text-align: center;
  display: grid;
  align-content: stretch;
  align-items: center;
}

#current-diapason-data {
  background-color: transparent;
  border-color: transparent;
  color: #fff;
}

#current-diapason-index,
.key-name {
  font-size: 3rem;
  font-weight: bold;
  text-transform: capitalize;
}

#current-diapason-data > div,
.note > div,
.root-selector > div {
  overflow: hidden;
}

.active {
  background: rgb(32, 155, 49);
  color: rgb(255, 255, 255)
}

.stop {
  background: rgb(194, 19, 19);
  color: rgb(255, 255, 255)
}

/* Adjustments for smaller screens */
@media screen and (max-width: 1000px) {
  input,
  select {
    box-sizing: border-box;
  }
}
