body {
  font-family: math;
  font-size: 16px;
  display: grid;
  grid-template-columns: [first] 21% [line2] 1fr;
  gap: 1rem;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: .5rem 0 2rem 0;
}

#sidebar {
  display: flex;
  flex-direction: column;
}

header h1 {
  font-size: 2rem;
  margin: 0;
}

#sidebar a {
  font-size: 1.5rem;
  text-decoration: none;
  padding: .5rem .5rem .5rem 0;
  border-radius: .5rem;
  color: #000;
}

#menu-icon {
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
  justify-self: end;
}

#system-config {
  display: grid;
  grid-column: 1;
}

.form-group {
  display: grid;
  gap: 10px;
}

label {
  grid-column: 1;
}

input, select {
  grid-column: 1;
  margin-bottom: 1rem;
  padding: 1rem;
}

button {
  grid-column: 1;
}

fieldset {padding: 1rem; margin: 0;}

#alphaKeyTable,
#numericKeyTable,
button#play {
  user-select: none;
  -webkit-user-select: none;
}

.grid-container {
  display: grid;
  gap: 5px;
}

.diapason,
.root-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: .5rem;
  padding: .5rem;
  border: 1px solid #ccc;
  background: #000;
  border-radius: 1rem;
}

#current-diapason-data,
.note,
.root-selector {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: .5rem;
  text-align: center;
  display: grid;
  align-content: stretch;
  align-items: center;
}

#current-diapason-data {
  background-color: transparent;
  border-color: transparent;
  color: #fff;
}

#current-diapason-index,
.key-name {
  font-size: 5rem;
  font-weight: bold;
  text-transform: capitalize;
}

#current-diapason-data > div,
.note > div,
.root-selector > div {
  overflow: hidden;
}

.active {
  background: rgb(32, 155, 49);
  color: rgb(255, 255, 255)
}

.stop {
  background: rgb(194, 19, 19);
  color: rgb(255, 255, 255)
}

/* Adjustments for smaller screens */
@media screen and (max-width: 1000px) {
  input,
  select {
    box-sizing: border-box;
  }
}
