body {
  font-size: 16px;
}

button,
input {
  padding: 1rem;
}

fieldset {padding: 1rem; margin: 0;}

/* Adjustments for smaller screens */
@media screen and (max-width: 1000px) {
  input,
  select {
    width: 100%;
    box-sizing: border-box;
    margin: .5rem 0;
  }
}

#systemTable,
button#play {
  /* Disable text selection */
  user-select: none;
  -webkit-user-select: none; /* For older versions of Safari */
}

.grid-container {
  display: grid;
  gap: 5px; /* Adjust gap between grid items */
  padding: 10px;
}

.diapason {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Adjust min and max width for notes */
  gap: 5px; /* Adjust gap between grid items */
  padding: 5px;
  border: 1px solid #ccc; /* Add border to diapason */
  background: #000;
}

.note {
  background: #fff;
  border: 1px solid #ccc;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.note-name {
  font-weight: bold;
}

.note-frequency {
  margin-top: 5px;
}

.active {
  background: rgb(32, 155, 49);
  color: rgb(255, 255, 255)
}
